name: CI Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build and install
        env:
          MAVEN_OPTS: -Xss16m -Xms2048m -Xmx16g
        run: mvn install -Dgpg.skip=true -B -V
